﻿body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url('../Resource/fantasy.jpg');
    /* Full height */
    height: 120%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.has-feedback{
    left:0px;
}

#form1{
    color:aliceblue;
    width: 80%;


    height: 80%;
}

.scroll {
    background-color: burlywood;
    height: 80%;
    width: 35%;
    padding-top: 5%;

}

input[type="text"], textarea {
    color:azure;
    background-color: rgba(0,0,0, 0.5);
    border: none;
}

input[type="email"], textarea {
    color: azure;
    background-color: rgba(0,0,0, 0.5);
    border: none;
}

input[type="password"], textarea {
    background-color: rgba(0,0,0, 0.5);
    border: none;
}


.fas{
    line-height: 2.2;
}

.form-control {
    color: aliceblue;
}

.white-Color {
    color: aliceblue;
}

.form-control-feedback {
    font-size: medium;
}
/*input[type=text]:focus {
    background-color: lightblue;

}*/
/*.form-control::-moz-placeholder {
    color: rgba(204, 204, 204, 1);
    opacity: 1;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}*/
/*.form-control:focus::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}*/
/*.form-control:-ms-input-placeholder {
    color: rgba(204, 204, 204, 1);
}

.form-control:focus:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}*/
.form-control::-webkit-input-placeholder {
    color: rgba(204, 204, 204, 1);
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

.form-control:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
}


a{
    color: aquamarine;
}